.bg-light-green 
    background #7cb342
.bg-dark-green 
    background #689f38
.box-shadow-white
    box-shadow 1px 1px 6px white
.box-shadow-black
    box-shadow 1px 1px 6px black

.navbar {
    padding: 0;    
}

.nav-hover 
    transition .3s
    &:hover
        background rgba(white, .3)
        >a 
            text-decoration underline
.carousel-item 
    >img 
        height 100vh
.title 
    font-size 1.5em
.text-shadow-black
    text-shadow 1px 1px 6px black

@media (min-width: 576px)
    .title 
        font-size 2.7em

@media (min-width: 992px)

    .nav-link{
        min-width: 120px
        height:60px;
        line-height: 46px
        text-align center 
    }